.card {
  padding: 4px 18px;
  width: 200px;
  margin-bottom: 12px;
}

.card:hover {
  .card-edit-button {
    visibility: visible;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-tittle {
  font-size: 14px;
  font-weight: 500;
}

.card-edit-button {
  visibility: hidden;
}
