<mat-card class="card">
  <div class="card-header">
    <div class="card-tittle">{{ fullName }}</div>
    <button class="card-edit-button" mat-icon-button [routerLink]="['/edit', contact.id]">
      <mat-icon>create</mat-icon>
    </button>
  </div>
  <div class="card-content">
    <div class="card-field">{{ contact.phone }}</div>
    <div class="card-field">{{ contact.link }}</div>
    <div class="card-custom-field" *ngFor="let field of contact.customFields">
      {{ getCustomFieldLiable(field) }}
    </div>
  </div>
</mat-card>
