@import '~@angular/material/theming';

.card {
  padding: 4px 18px;
  width: 320px;
  margin-bottom: 12px;
}

.card:hover {
  .card-edit-button {
    visibility: visible;
  }
}

.card-header {
  display: flex;
  align-items: baseline;
}

.card-tittle {
  font-size: 14px;
  font-weight: 500;
}

.card-edit-button {
  transform: scale(0.7);
  visibility: hidden;
}

.card-field {
  color: #4c75e6;
  margin-bottom: 5px;
}
