<p>create works!</p>
<div> {{ form.controls['customFields'] | json }}</div>
<div>{{ form.value | json }}</div>
<!--<form [formGroup]="form">-->
<!--  <input name="name" formControlName="firstName">-->
<!--  <input name="last" formControlName="lastName">-->
<!--  <div formArrayName="customFields">-->
<!--    <div class="form-group" *ngFor="let phone of form.controls['customFields']['controls']; let i = index">-->
<!--      <label>Телефон</label>-->
<!--      <input class="form-control" formControlName="{{i}}" />-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
