:host {
  width: 355px;
}

.delete-field-button {
  transform: scale(0.9);
}

.field-wrapper {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}
