<button class="main-button" color="primary" mat-button (click)="addMode = !addMode" [disabled]="addMode">
  <mat-icon *ngIf="!addMode" class="main-button-icon">add_circle_outline</mat-icon>
  Add new field
</button>
<form *ngIf="addMode" #form="ngForm" class="form">
  <mat-radio-group color="primary" [(ngModel)]="currentType" name="type" class="radio-group">
    <mat-radio-button class="example-margin" [value]="FieldType.Text">Text</mat-radio-button>
    <mat-radio-button class="example-margin" [value]="FieldType.Phone">Phone number</mat-radio-button>
    <mat-radio-button class="example-margin" [value]="FieldType.Link">Link</mat-radio-button>
  </mat-radio-group>

  <mat-form-field *ngIf="currentType === FieldType.Text" class="input-field">
    <mat-label>Field name</mat-label>
    <input
        [(ngModel)]="fieldName"
        [appForbiddenName]="forbiddenValues"
        required
        name="fieldName"
        matInput
        type="text">
    <button
        *ngIf="fieldName"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="fieldName = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="button-wrapper">
    <button mat-icon-button color="primary" [disabled]="addDisabled" (click)="addField()">
      <mat-icon>task_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="addMode = false">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
</form>
