:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.header {
  width: 271px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

h4 {
  margin: 0;
  font-size: 18px;
  color: #4c75e6;
}
